body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    background: #fff;
}
#container
{
    width: 650px;
    height: 600px;
    background-color: #00ffff;
    margin: auto;
    border-radius: 30px;
}
h1{
    font-size: 48px;
    font-weight: 600px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 170px;
    background: #00ffff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;

}
#weekday{
    font-size: 60px;
    color: #dd5800;
    font-weight: 800;
    margin-left: 170px;

}
#phrase
{
    font-size: 40px;
    color: #0000ff;
    font-weight: 800;
    text-align: center;
    margin-left: 170px;
}